@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Montserrat&display=swap');

body {
    background-color: #282c34;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: 'Montserrat', sans-serif;
}